body {
  background-color: #179193;
  font-family: serif, 'Times New Roman', Times, serif;
  color: #c08622;
}


section {
  margin-bottom: 20px;
  background-color: #e2f5ea;
  padding: 20px;
  border-radius: 10px;
}

header {
  background-color: #d3d300;
  color: #120a0a;
  padding: 20px;
}


nav {
  display: inline-block;
}

nav ul li {
  display: inline-block;
  place-items: left;
}

nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: #556B2F;
}

h1, h2 {
  font-weight: normal;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

main {
  margin: 20px;
}

section {
  margin-bottom: 20px;
}

ul {
  list-style: disc;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(188, 255, 73, 0.5);
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(50px);
}

li {
  margin: 10px;
}

li::marker {
  color: #fff;
}

li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff7300;
  margin-right: 5px;
}

